
<h3>Login</h3>

<p>
  <form method="GET" action="/sessions">  User name:<br>
   <input type="text" name="username"><br>
   Password:<br>
   <input type="password" name="password"><br>
   <input type="submit" value="Log in!">
  </form>
</p>

<h3>Create an account</h3>

<p>
  <form method="POST" action="/sessions">  User name:<br>
    <input type="text" name="username"><br>
    Password:<br>
    <input type="password" name="password"><br>
    <input type="submit" value="Sign up!">
  </form>
</p>